<%= form_with model: comment do |form| %>
    <div class="field">
        <%= form.label :title %>
      </div>
      <div>
        <%= form.text_area :title  %>
      </div>
      <div class="field">
        <%= form.label :preview %>
      </div>
      <div>
        <%= form.text_area :preview  %>
      </div>
      <div class="field">
        <%= form.label :body %>
      </div>
        <%= form.text_area :body  %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: post_id %>
      <div>
        <%= form.submit %>
        </div>
    </div>
<% end %>