<%= render "partials/top_nav" %>
<div class="posts_display_container">
<div>
<% if user_signed_in? %>
<%= link_to "create post", url = "posts/new" %> 
<% end %>
</div>
<div class="all_posts_container">
<% @post.each do |post| %>
  <div class="post_container">
    <% if user_signed_in? %>
    <div class="post_container_header">
    By <%= post.user.user_name %>.
    </div>
    <div>
    <%= post.body %>
    </div>
    <div>
    Like button coming soon!
    </div>
    <% else %>
    <div>
    By Anonymous.
    </div>
    <div class="post_container_header">
    <%= post.preview %>
    </div>
    <% end %>
    </div>
    <% end %>
    </div>
</div>
<%= render "partials/bottom_nav" %>