 <div class="top_nav_bar">

<% if user_signed_in? %>
<div class="nav_bar_items">
  <%= link_to current_user.email, edit_user_registration_path %>
  </div>
  <h1 class="nav_bar_itemss">Mystery Book.</h1>
  <div class="nav_bar_items">
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
 </div>
  <% else %>
  <div class="nav_bar_items">
  <%= link_to "Log in", new_user_session_path %>
  </div>
  <h1 class= "nav_bar_items">Mystery Book.</h1>
  <div class="nav_bar_items">
  <%= link_to "Register", new_user_registration_path %>
  </div>
<% end %>
</div>
<ul>
<% @user.each do |user| %>
    <li>
    <% if user_signed_in? %>
    <%= user.user_name %>
    <% else %>
    Anonymous
    <% end %>
    </li>
    <% user.posts.each do |post| %>
        <li>
        <%= post.title %>
        </li>
        <% end %>
    <% end %>
    </ul>
<% if user_signed_in? %>
<%= link_to "create post", url = "posts/new" %> 
<% end %>
<%= link_to "View Posts", url = "all_post" %>
