<%= render "partials/top_nav" %>
<ul>
<% @user.each do |user| %>
    <li>
    <% if user_signed_in? %>
    <%= user.user_name %>
    <% else %>
    Anonymous
    <% end %>
    </li>
    <% user.posts.each do |post| %>
        <li>
        <%= post.title %>
        </li>
        <% end %>
    <% end %>
    </ul>
<% if user_signed_in? %>
<%= link_to "create post", url = "posts/new" %> 
<% end %>
<%= link_to "View Posts", url = "all_post" %>
