 
<h1>Welcome to the club!</h1>

<% if user_signed_in? %>
  <%= link_to current_user.email, edit_user_registration_path %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
<% end %>
<ul>
<% @user.each do |user| %>
    <li>
    <% if user_signed_in? %>
    <%= user.user_name %>
    <% else %>
    Anonymous
    <% end %>
    </li>
    <% user.posts.each do |post| %>
        <li>
        <%= post.title %>
        </li>
        <% end %>
    <% end %>
    </ul>

