<%= render "partials/top_nav" %>
<div class="posts_display_container">
  <div>
    <% if user_signed_in? %>
      <div class="post_creation" data-controller="flash"> 
        <div class="text_alignment">
          <%= link_to "create post", url = "posts/new" %>  
        </div>
        <% flash.each do |msg| -%>
          <%= content_tag :div, msg[1],  data: { action: "click->flash#removeText", flash_target: "flash" }, class: "success_flash" %> 
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="all_posts_container" data-controller="flash">
    <% @post.each do |post| %>
        <% if user_signed_in? %>
          <% if @post.index(post).even? %>
          <div class="right_container">
            <div class="post_container_header">
              By <%= post.user.user_name %>.
            </div>
            <div>
              <%= post.body %>
            </div>
            <div>
              <%= post.created_at.to_datetime.strftime('%r') %>
            </div>
            <div>
              Like button coming soon!
            </div>
          </div>
          <% else %>
          <div class="left_container">
          <div class="post_container_header">
              By <%= post.user.user_name %>.
            </div>
            <div>
              <%= post.body %>
            </div>
            <div>
              <%= post.created_at.to_datetime.strftime('%r') %>
            </div>
            <div>
              Like button coming soon!
            </div>
            </div>
          <% end %>
        <% else %>
           <% if @post.index(post).odd? %>
           <div class="right_container">
            <div>
              By Anonymous.
            </div>
            <div class="post_container_header">
              <%= post.preview %>
            </div>
            <div>
              <%= post.created_at.to_datetime.strftime('%r') %>
            </div>
            </div>
            <% else %>
            <div class="left_container">
              <div>
                By Anonymous.
              </div>
              <div class="post_container_header">
                <%= post.preview %>
              </div>
              <div>
                <%= post.created_at.to_datetime.strftime('%r') %>
              </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
    <div>
    <% @page_link_count.times do |number| %>
    <%= link_to "#{number}", url = "/?page_number=#{number}" %>
    <% end %>
    </div>
  </div>
</div>
<%= render "partials/bottom_nav" %>
