<div id="wrapper" data-controller="night-sky">
<div id="star"></div>
<div id="sky" class="sky">
<%= render "partials/top_nav" %>
<div class="posts_display_container">
  <div>
    <% if user_signed_in? %>
      <div class="post_creation" data-controller="flash"> 
        <div class="text_alignment">
          <%= link_to "create post", url = "posts/new" %>  
        </div>
        <% flash.each do |msg| -%>
          <%= content_tag :div, msg[1],  data: { action: "click->flash#removeText", flash_target: "flash" }, class: "success_flash" %> 
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="all_posts_container" data-controller="flash">
    <% @post.each do |post| %>
        <% if user_signed_in? %>
          <% if @post.index(post).even? %>
            <div class="right_container">
              <div class="post_container_header">
                By <%= post.user.user_name %>.
              </div>
              <div>
                <%= post.body %>
              </div>
              <div>
                <%= post.created_at.to_datetime.strftime('%r') %>
              </div>
              <div>
                <%= button_to "Like", new_like_path, params: { user_id: current_user, post_id: post.id }%>
                <%= post.likes.length %>
              </div>
                <div data-controller="comment" data-action="click->comment#revealForm"> 
                  Comment
                </div> 
                <div class="comment_form">
                  <div>
                    <%= render partial: "/partials/new_comment", locals: {comment: @comment,  post_id: post.id } %>
                  </div>
                </div>
          <% else %>
          <div class="left_container">
            <div class="post_container_header">
              By <%= post.user.user_name %>.
            </div>
            <div>
              <%= post.body %>
            </div>
            <div>
              <%= post.created_at.to_datetime.strftime('%r') %>
            </div>
            <div>
              <%= button_to "Like", new_like_path, params: { user_id: current_user, post_id: post.id }%>
              <%= post.likes.length %>
            </div>
              <div data-controller="comment" data-action="click->comment#revealForm">
                Comment
              </div> 
              <div class="comment_form">
                <div>
                  <%= render partial: "/partials/new_comment", locals: {comment: @comment,  post_id: post.id } %>
                </div>
              </div>
          <% end %>
        <% else %>
           <% if @post.index(post).odd? %>
              <div class="right_container">
                <div>
                  By Anonymous.
                </div>
              <div class="post_container_header">
                <%= post.preview %>
              </div>
              <div>
                <%= post.created_at.to_datetime.strftime('%r') %>
              </div>
                <div> 
                  <%= button_to "Like", new_like_path, params: { user_id: current_user, post_id: post.id }%>
                  <%= post.likes.length %>
                  <div data-controller="comment" data-action="click->comment#revealForm">
                    Comment
                  </div> 
                  <div class="comment_form">
                    <div>
                      <%= render partial: "/partials/new_comment", locals: {comment: @comment,  post_id: post.id } %>
                    </div>
                  </div>
                 </div>
            <% else %>
            <div class="left_container">
              <div>
                By Anonymous.
              </div>
              <div class="post_container_header">
                <%= post.preview %>
              </div>
              <div>
                <%= post.created_at.to_datetime.strftime('%r') %>
              </div>
              <div> 
                <%= button_to "Like", new_like_path, params: { user_id: current_user, post_id: post.id }%>
                <%= post.likes.length %>
                <div data-controller="comment" data-action="click->comment#revealForm">
                  Comment
                </div> 
                <div class="comment_form">
                  <div>
                    <%= render partial: "/partials/new_comment", locals: {comment: @comment,  post_id: post.id } %>
                   </div>
               </div>
              </div>
          <% end %>
        <% end %>
    <% end %>
    <div>
      <% @page_link_count.times do |number| %>
        <%= link_to "#{number}", url = "/?page_number=#{number}" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "partials/bottom_nav" %>
</div>
</div>